workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE =~ '/pipeline|web/i'

default:
  retry: 2

stages:
  - build_packages
  - push_image
  # - sign_packages
  # - smoketest
  # - push_to_test
  # - verify_from_test
  # - push_to_prod
  # - verify_from_prod
  # - get_prod_hashes

variables:
  ARTIFACTORY_HOST: "artifactory.ops.ripple.com/"
  # ARTIFACTORY_HOST is also the docker registry in Corp Artifactory
  ARTIFACTORY_HUB: "artifactory.ops.ripple.com:6555"
  GIT_SIGN_PUBKEYS_URL: https://gitlab.ops.ripple.com/xrpledger/rippled-packages_old/snippets/49/raw
  PUBLIC_REPO_ROOT: "https://repos.ripple.com/repos"
  # public_image_registry: "rippleci"
  # Images defined from variables in GitLab settings.

  # build_image:
  #   value: "${${PKG}_container_fullname}"
  #   description: The Docker image to run the build in. ${PKG} is based on the parallel job, either "dpkg" or "rpm" which is mapping to ${dpkg_container} and ${rpm_container} what about ${dpkg_image_tag}
  src_url:
    value: "https://github.com/XRPLF/rippled.git"
    description: The source repository
  branch: "develop"
  private_component:
    value: ""
    description: "If defined, packages are pushed to this repo instead of release/dev"

.template_only_primary: &only_primary
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^(main)$/'

.template_smoketest: &smoketest
  tags:
    - xlarge

.template_smoketest_local: &smoketest_local
  allow_failure: false
  <<: *smoketest
  script: . ./gitlab-ci/smoketest.sh local

.template_smoketest_repo: &smoketest_repo
  allow_failure: false
  <<: *smoketest
  script: . ./gitlab-ci/smoketest.sh repo

build_image:
  stage: build_packages
  needs:
    - job: get_rippled
      artifacts: true
  <<: *dind_param
  <<: *only_primary

  script: |
    echo "CI_COMMIT_SHA: $CI_COMMIT_SHA"
    echo "CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME"
    echo "CI_COMMIT_BRANCH: $CI_COMMIT_BRANCH"
    echo "CI_COMMIT_TAG: $CI_COMMIT_TAG"
    echo "CI_COMMIT_TIMESTAMP: $CI_COMMIT_TIMESTAMP"
    echo "CI_PIPELINE_NAME: $CI_PIPELINE_NAME"
    echo "CI_PIPELINE_SOURCE: $CI_PIPELINE_SOURCE"
    echo "GITLAB_CI: $GITLAB_CI"
    echo "CI_COMMIT_REF_PROTECTED: $CI_COMMIT_REF_PROTECTED"
    echo "CI_COMMIT_REF_SLUG: $CI_COMMIT_REF_SLUG"
    echo "CI_COMMIT_SHORT_SHA: $CI_COMMIT_SHORT_SHA"
    echo "CI_COMMIT_TITLE: $CI_COMMIT_TITLE"
    #####
    echo "CI_UPSTREAM_PROJECT_ID: $CI_UPSTREAM_PROJECT_ID"
    echo "CI_UPSTREAM_JOB_ID: $CI_UPSTREAM_JOB_ID"
    echo "CI_UPSTREAM_PIPELINE_ID: $CI_UPSTREAM_PIPELINE_ID"
    #####
    echo "CI_DEFAULT_BRANCH: $CI_DEFAULT_BRANCH"
    echo "CI_DEFAULT_BRANCH_SLUG: $CI_DEFAULT_BRANCH_SLUG"
    echo "CI_JOB_ID: $CI_JOB_ID"
    echo "CI_JOB_IMAGE: $CI_JOB_IMAGE"
    echo "CI_JOB_MANUAL: $CI_JOB_MANUAL"
    echo "CI_JOB_NAME_SLUG: $CI_JOB_NAME_SLUG"
    echo "CI_JOB_STAGE: $CI_JOB_STAGE"
    . ./build.env
    echo "rippled_git_hash=${rippled_git_hash}"
    echo "rippled_branch=${rippled_branch}"

    if [ -n "${git_tag}" ]; then
        echo "git_tag=$git_tag"
    fi
    cd ./push_docker_image && . ./build_image.sh
  parallel:
    matrix:
      - ARCH: amd
        RUNNER_TAG: docker-4xlarge
      - ARCH: arm
        RUNNER_TAG: mine
  tags:
    - ${RUNNER_TAG}

build_packages:
  timeout: 1h 30m
  stage: build_packages
  image:
    name: ubuntu:noble
    # name: ${build_image}
    entrypoint: [""]
  script: |
    set -x
    echo $CI_COMMIT_REF_NAME
    git clone --depth 1 ${rippled_url} rippled
    cd rippled && git checkout ${rippled_branch}
    rippled_git_hash=$(git rev-parse HEAD) && echo $rippled_git_hash && cd ..
    echo "rippled_git_hash=$rippled_git_hash" >> $CI_PROJECT_DIR/build.env

  tags:
    - 4xlarge
  artifacts:
    paths:
      - build/${PKG}/packages
    reports:
        dotenv: build.env
  parallel:
    matrix:
      - PKG:
        - 'dpkg'
        - 'rpm'

# include: "push_docker_image/docker_images.yml"
