/* @font-face {
    font-family: micro,
    src: url("static/Michroma-Regular.ttf")
} */

@font-face {
    font-family: 'micro';
    src: url('Michroma-Regular.ttf') format('truetype')
  }

html {
    /* font-family: sans-serif; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'micro', sans-serif;
    font-size: 22px;
    /* font-family: micro; */
    background: #e9ffac8a;
    padding: 1rem;
}

/* .newbutton {
    background: url("https://placehold.co/40x40/green/white") no-repeat scroll 0 0  / 40px 40px #009;
    border-radius: 5px;
    padding: 5px 10px 5px 25px;
    border: 4px solid #ccc;
    background-position: top;
    background-position:center top 15px, center left 15px;
    }
*/

button {
    background-image: url('/static/cat.png');
    background-repeat: no-repeat;
    background-position:center top 0px, center left 0px;
    padding: 20px;
    height: 92px;
    width: 92px;
    /* float: left; */
    position: relative;
}

button:hover {
    background-image: url('/static/cat_smile.png')
}
.button-text {
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
  }

body {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    background: yellowgreen;
}

content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    /* font-family: serif; */
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid cornflowerblue;
}
